@charset "utf-8";
/* CSS Document */

/*正文居中,文字颜色白色*/
*{
	text-align:center;
	margin:0 auto;
	height:auto;
}
/*顶部导航div框样式*/
.naviContainer{
	width:100%;
	height:60px;
	background-color:#FFFFFF;
	position:fixed;
}
/*设置导航栏样式*/
ul li{
	float:left;
	list-style:none;
	width:200px;
	height:60px;
	border-left:1px solid #ccc;
	text-align:center;
	line-height:50px;
	background: #FFFFFF;
}
/*对顶部导航的样式修改*/
ul li a{
	color:#000000;
	text-decoration:none;
	display:block;
}
/*鼠标放上去变色*/
ul li a:hover{
	color:#9D9D9D;
}
/*点击后字体变色*/
ul li a:active{
	color:#FFFFFF;
}
/*下拉菜单设置*/
.naviContainer ul li ul{
	padding-left:0px;
	margin-top:10px;
}
.naviContainer ul li ul li{
	display:none;
	width:200px;
	height:50px;
	float:initial;
	text-align:center;
}
.naviContainer ul li:hover ul li{
	display:block;
}		
.naviContainer ul li:hover{
	background:#011B42;
	width:200px;
	height:60px;
}
/*当前页面字体加粗标识*//*新增*/
.bold{
	font-weight:bold;
}
/*无表单边框*/
fieldset{
	border:none;
}
.search input{
	height:30px;
}
/*定位：居导航栏右侧*/
.search{
	position:absolute;
	left:80.1%;
	top:9px;
}
/*提交按钮样式*/
.goBtn{
	background-color: #5C5C5C;
	border: none;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #333;
	color: #FFFFFF;
	padding: 6px 6px;
	text-shadow: 1px 1px 0px #777;
	cursor: pointer;
}
#early{
	width:100%;
	height:1000px;
	background:url(../img/firstBackground.jpg) no-repeat; 
	background-size:100% 90%;
	opacity:1;
	z-index:-1;
}
#early p{
	height:50px;
	text-align:center;
	position:absolute;
	font-size:50px;
	letter-spacing:10px;
	font-family:"宋体";
	color: #ffffff;
}
#firstText{
	width:100%;
   	height:540px;
   	background:#F0F0F0;
    z-index:1;
    top:750px ;
    position:relative; 
}
#firstText p{
   	font-family:wellfleet;
	font-size:15px;
	letter-spacing:3px;
	line-height:35px;
	text-align:left;
	text-indent:2em;
	color:#000000;
	position:absolute;
}
#firstPicture img{
   	width:300px;
   	height:330px;
}
#secondPicture img{
	width:300px;
   	height:330px;
}
#thirdPicture img{
	width:300px;
   	height:330px;
}
#fourthPicture img{
	width:300px;
   	height:330px;
}
#fifthPicture img{
	width:300px;
	height:330px;
}
#silent{
	width:100%;
	height:1000px;
	background:url(../img/secondBackground.jpg) no-repeat;
	background-size:100% 90%;
	opacity:1;
	z-index:1;
}
#silent p{
	height:50px;
    text-align:center;
	position:absolute;
	font-size:50px;
	letter-spacing:10px;
	font-family:"宋体";
	color:#ffffff;
}
#secondText{
	width:100%;
   	height:540px;
   	background:#F0F0F0;
    z-index:1;
    top:750px;
    position:relative;
}
#secondText p{
	font-family:wellfleet;
	font-size:15px;
	letter-spacing:3px;
	line-height:35px;
	text-align:left;
	text-indent:2em;
	color:#000000;
	position:absolute;
}
#audiovisual{
	width:100%;
	height:1000px;
	background:url(../img/thirdBackground.jpg) no-repeat; 
	background-size:100% 90%;
	opacity:1;
	z-index:1;
}
#audiovisual p{
	height:50px;
	text-align:center;
	position:absolute;
	font-size:50px;
	letter-spacing:10px;
	font-family:"宋体";
	color:#ffffff;
}
#thirdText{
	width:100%;
 	height:540px;
   	background:#F0F0F0;
    z-index:1;
    top:750px;
	position:relative;
}
#thirdText p{
	font-family:wellfleet;
	font-size:15px;
	letter-spacing:3px;
	line-height:35px;
	text-align:left;
	text-indent:2em;
	color:#000000;
	position:absolute;
}
#color{
	width:100%;
	height:1000px;
	background:url(../img/fourthBackground.jpg) no-repeat; 
	background-size:100% 90%;
	opacity:1;
	z-index:1;
}
#color p{
	height:50px;
	text-align:center;
	position:absolute;
	font-size:50px;
	letter-spacing:10px;
	font-family:"宋体";
	color:#ffffff;
}
#fourthText{
	width:100%;
   	height:540px;
   	background:#F0F0F0;
    z-index:1;
    top:750px;
    position:relative;
}
#fourthText p{
	font-family:wellfleet;
	font-size:15px;
	letter-spacing:3px;
	line-height:35px;
	text-align:left;
	text-indent:2em;
	color:#000000;
	position:absolute;
}
#contemporary{
	width:100%;
	height:1000px;
	background:url(../img/fifthBackground.jpg) no-repeat; 
	background-size:100% 90%;
	opacity:1;
	z-index:1;
}
#contemporary p{
	height:50px;
	text-align:center;
	position:absolute;
	font-size:50px;
	letter-spacing:10px;
	font-family:"宋体";
	color:#ffffff;
}
#fifthText{
	width:100%;
   	height:540px;
   	background:#F0F0F0;
    z-index:1;
    top:750px;
    position:relative;
}
#fifthText p{
	font-family:wellfleet;
	font-size:15px;
	letter-spacing:3px;
	line-height:35px;
	text-align:left;
	text-indent:2em;
	color:#000000;
	position:absolute;
}
#footer{
	width:100%;
	color:#000000;
	position:absolute;
	margin-top:340px;
	padding-top:20px;
	padding-bottom:20px;
}
.footer{
	font-size:13px;
	letter-spacing:3px;
	line-height:35px;
	text-align:center;
	font-family:wellfleet;
}
